global
	log /dev/log	local0
	log /dev/log	local1 notice
	chroot /var/lib/haproxy
	stats timeout 30s
	user haproxy
	group haproxy
	daemon
    ulimit-n  16384
    maxconn  2000

defaults
    log global
    mode  http
    option  httplog
    timeout connect 5000
    timeout client  50000
    timeout server  50000
    timeout http-request 15s
    timeout http-keep-alive 15s

listen admin_stats
    mode http
    bind 0.0.0.0:1080
    log 127.0.0.1 local0 err
    stats refresh 30s
    stats uri     /haproxy-status
    stats realm   Haproxy\ Statistics
    stats auth    {{ username }}:{{ password }}
    stats hide-version
    stats admin if TRUE

frontend kubernetes-https
    mode tcp
    bind 0.0.0.0:{{ Port }}
    default_backend kubernetes-https

backend kubernetes-https
    mode tcp
    option tcplog
    option tcp-check
    balance roundrobin
    default-server inter 10s downinter 5s rise 2 fall 2 slowstart 60s maxconn 250 maxqueue 256 weight 100
{% for host in groups['master'] %}
    server {{ host }} {{ host }}:6443 check
{% endfor %}